/node_modules
/public/hot
/public/storage
/public/wallet/node_modules
/storage/*.key
/storage/solana/*.log
/vendor
.env
.env.backup
.DS_Store
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
!storage/app/public/profile-photos/*
